.env
*.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

venv/
.venv/
env/
.env/
ENV/

*.log
Module_A/wal.log
wal.log

*.db
*.sqlite
*.sqlite3

locust_report.html

*.zip
*.tar
*.tar.gz
*.rar

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo